.popup__reset-btn {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  right: -40px;
  top: -40px;
  background: none;
}

@media (max-width:550px) {
  .popup__reset-btn {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}
